<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music App</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="music-page">
    <div id="flaskData" data-index="{{ index }}"></div>
    <div class="music-body">
        <div class="music-list">
            <h3>Your Playlist</h3>
            <ul id="initial-playlist"></ul>
            <h3>Recommended Songs</h3>
            <ul id="recommended-playlist"></ul>
        </div>
        <div class="container-background">
            <div class="music-container">
                <img id='player-image', src="https://iili.io/HlHy9Yx.png" alt="No Playing song">
                <div id="song-name-container">
                    <h2 id="song-name">Untitled<h2>
                </div>
                <div id="player">
                    <audio id="audio" controls>
                        <source id="audioSource" src="">
                        Your browser does not support the audio element.
                    </audio>
                    <div class="controls">
                        <button onclick="prevSong()"><i class="fas fa-backward"></i></button>
                        <button onclick="togglePlayPause()"><i id="playPauseIcon" class="fas fa-play"></i></button>
                        <button onclick="nextSong()"><i class="fas fa-forward"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='player.js') }}"></script>
</body>
</html>
