<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Hey,<br>let's predict your age first.<br>Upload your photo!</h1>
        <form id="uploadForm" enctype="multipart/form-data" action="{{ url_for('upload_file') }}" method="post">
            <input type="file" name="photo" id="photoInput" accept="image/*">
            <button type="submit" id="uploadButton">Upload Photo</button>
        </form>
        <p id="message"></p>
    </div>
    <script src="{{ url_for('static', filename='upload.js') }}"></script>
</body>
</html>
